In [1]:
import pandas as pd

In [7]:
df=pd.read_csv(f'D:/ML/19- ML_Project/artifacts\data.csv')

In [8]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [29]:
df['race_ethnicity'].unique()

array(['group B', 'group C', 'group A', 'group D', 'group E'],
      dtype=object)

In [10]:
import dill

In [11]:
with open(f"D:/ML/19- ML_Project/artifacts/preprocessor.pkl","rb") as obj:
    preprocessor = dill.load(obj)

In [17]:
sample = df.head(1)

In [ ]:
sample.drop('math_score',axis=1, inplace=True)

C:\Users\91748\AppData\Local\Temp\ipykernel_24172\3277537750.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample.drop('head',axis=1, inplace=True)

In [31]:
sample.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,female,None,bachelor's degree,standard,none,72,74

In [34]:
sample['race_ethnicity'] = 'group B'

C:\Users\91748\AppData\Local\Temp\ipykernel_24172\3436184277.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample['race_ethnicity'] = 'group B'

In [37]:
nor =   {
            "gender" : ['male'],
            "race_ethnicity" : ['group B'],
            "parental_level_of_education" : ["bachelor's degree"],
            "lunch" : ['standard'],
            "test_preparation_course" : ['completed'],
            "reading_score" : [67],
            "writing_score" : [89],
        }

data = pd.DataFrame(nor)

preprocessor.transform(data)

array([[ 1.36268716, -0.17678614,  0.        ,  2.00276196,  0.        ,
         2.54268248,  0.        ,  0.        ,  0.        ,  0.        ,
         3.07728727,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  2.10183809,  2.09830697,  0.        ]])

In [35]:
preprocessor.transform(sample)

array([[0.36772239, 0.169175  , 2.00276196, 0.        , 0.        ,
        2.54268248, 0.        , 0.        , 0.        , 0.        ,
        3.07728727, 0.        , 0.        , 0.        , 0.        ,
        0.        , 2.10183809, 0.        , 2.09830697]])